.header-main{
  background-color: bisque;
  margin-bottom: -40px;
}
.header-tag{
background-color: bisque;
margin-bottom: 45px;
}
.heading {
  text-align: center;
  margin: 0;
  width:100%;
  background-color: bisque;
  /*margin-top: -20px; /* to overlap with h2 */
  /*position: relative; /* to position the heading on top of h2 */
  z-index: 1; /* to ensure the heading is on top */
}
.tools{
  display: flex;
  justify-content: space-between;
}

.reset-center {
  display: flex;
  justify-content:space-between;
}
.same-color {
  background-color: blue;
}
.header-tag {
  width: 100%;
  text-align: center;
}
