*{margin:0;}


.heading{
  text-align: center;
  width: 100%;
  background-color: burlywood;
  
}
.reset-center {
  display: flex;
  justify-content: center;
  align-items:center;
}

.reset-center button {
  margin:  1em;
  width: 100px;
  height: 55px;
  text-align:center;
}




.header-tag {
  display:block;
  background-color:burlywood;
  width: 100%;
  text-align: center;
  color: black;
  
}



.center-div{
  display:flex;
  align-items: center;
  justify-content: center;
}


